@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(39, 39, 39);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 182, 182);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 97, 97);
}

* {
  margin: 0;
}

hr {
  border: 0.5px solid red;
  margin: 0px 1vw;
}

html {
  background-color: rgb(39, 39, 39);
}

header {
  background-image: url(./images/mexico-perez.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

.header-text {
  font-family: "Oswald", sans-serif;
  font-style: oblique;
  font-size: 12vw;
  color: #e10600;
  text-shadow: 2vh 1vh rgb(27, 27, 27);
}

#f1-logo {
  height: 4vh;
}

#f1-logo-nav {
  height: 3vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.2vw;
}

li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0.5vw 1.5vw;
  text-decoration: none;
}

li a:hover {
  color: rgb(255, 0, 0);
  background-color: rgb(44, 42, 42);
}

.active {
  color: rgb(255, 0, 0);
}

.main-image {
  width: 20vh;
}

main {
  background: url(./images/maybe-back.jpg), black;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
}

.f1-info-text {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.main-headline {
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
  color: #e10600;
  font-size: 2.4vw;
  text-shadow: 2px 2px #000000;
}
.image-div-main {
  width: 35vw;
  max-width: 30vw;
  padding: 10px;
  border: #e10600 0.2vw;
  border-style: solid;
  float: left;
  margin: 15px;
}

.figure-image {
  width: 24vw;
}

.large {
  width: 30vw;
}

.figure-image-smaller {
  width: 18vw;
  float: left;
}

figure {
  float: left;
}

figcaption {
  color: whitesmoke;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.2vw;
  text-align: center;
}

.main-paragraph {
  color: rgba(255, 255, 255, 0.808);
  font-size: 1.2vw;
  font-family: "Oswald", sans-serif;
  padding-left: 20px;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.right {
  float: right;
}

h2 {
  color: whitesmoke;
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  padding-left: 20px;
  text-decoration: underline #e10600;
}

.footer-text {
  font-size: 1vw;
  color: rgba(255, 255, 255, 0.432);
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.span-left {
  text-align: left;
  float: left;
  margin: 0px 1vw;
}

.back-to-top-link:link {
  color: rgba(255, 255, 255, 0.432);
  text-decoration: none;
}

.back-to-top-link:visited {
  color: rgba(255, 255, 255, 0.432);
  text-decoration: none;
}

.back-to-top-link:hover {
  color: white;
}

/*////////////////////////////////*/
/*GALLERY*/

.flexbox-container-gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.flexbox-item-gallery {
  background: rgb(247, 247, 247);
  padding: 0px;
  margin: 30px;
  /*margin-bottom: 20px;*/
  width: 390px;
  height: 400px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  padding: 0px;
  border: 2px solid red;
  overflow: hidden;

  /*transform-origin: 50% 65%;
  transition: transform 1s, filter 10s ease-in-out;
  filter: brightness(100%);
  */
}

/*
.flexbox-item-gallery:hover {
  filter: brightness(110%);
  transform: scale(1.3);
  overflow: hidden;
}
*/

.flexbox-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 400px;
  height: 400px;

  transform-origin: 50% 50%;
  transition: transform 2s, filter 3s ease-in-out;
  filter: brightness(150%);
}

.flexbox-image:hover {
  filter: brightness(110%);
  transform: scale(1.5);
}

.headline-gallery {
  color: #000000;
  font-size: 2.4vw;
  text-shadow: 2px 2px #fff8f8;
}

/*////////////////////////////////////////////*/
/* RESPONSIVNESS */

@media screen and (max-width: 1024px) {
  li {
    font-size: 18px;
  }

  h2 {
    font-size: 26px;
  }

  .main-paragraph {
    font-size: 20px;
  }

  figcaption {
    font-size: 18px;
  }

  .main-headline {
    font-size: 28px;
  }

  .footer-text {
    font-size: 10px;
  }

  .back-to-top-link:link {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.432);
  }

  .header-div {
    height: 30vh;
  }

  #f1-logo {
    height: 2vh;
  }
}

/* RESPONSIVNESS */
/*////////////////////////////////////////////*/
