@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap");

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(39, 39, 39);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(184, 182, 182);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 97, 97);
}

* {
  margin: 0;
}

hr {
  border: 0.5px solid red;
  margin: 0px 1vw;
}

html {
  background-color: rgb(39, 39, 39);
  scroll-behavior: smooth;
}

header {
  background-image: url(./images/mexico-perez.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.header-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25vh;
}

.header-text {
  font-family: "Oswald", sans-serif;
  font-style: oblique;
  font-size: 12vw;
  color: #e10600;
  text-shadow: 2vh 1vh rgb(27, 27, 27);
  font-weight: 900;
  margin-bottom: 10px;
}

#f1-logo {
  height: 4vh;
  vertical-align: top;
}

#f1-logo-nav {
  height: 3vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.2vw;
}

li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0.5vw 1.5vw;
  text-decoration: none;
}

li a:hover {
  color: rgb(255, 0, 0);
  background-color: rgb(44, 42, 42);
  text-decoration: none;
}

.active {
  color: rgb(255, 0, 0);
}

.main-image {
  width: 20vh;
}

main {
  background: url(./images/maybe-back.jpg), black;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
  min-height: 100%;
  padding-bottom: 100px;
}

.f1-info-text {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.main-headline {
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
  color: #e10600;
  font-size: 2.4vw;
  text-shadow: 2px 2px #000000;
}
.image-div-main {
  width: 35vw;
  max-width: 30vw;
  padding: 10px;
  border: #e10600 0.2vw;
  border-style: solid;
  float: left;
  margin: 15px;
  overflow: hidden;

  transform-origin: 50% 50%;
  transition: transform 1s, filter 1s ease-in-out;
}

.image-div-main:hover {
  filter: brightness(110%);
  transform: scale(1.03);
}

.figure-image {
  width: 24vw;
  object-fit: contain;
  width: 450px;
  height: 360px;
  transform-origin: 50% 65%;
  transition: transform 1s, filter 10s ease-in-out;
  filter: brightness(100%);
}

.large {
  width: 30vw;
}

.figure-image-smaller {
  width: 18vw;
  float: left;
}

.padding-right {
  padding-right: 40px;
}

figcaption {
  color: whitesmoke;
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.2vw;
  text-align: center;
}

.main-paragraph {
  color: rgba(255, 255, 255, 0.808);
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  padding-left: 20px;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

.right {
  float: right;
}

div a {
  text-decoration: none;
}

div a:hover {
  text-decoration: underline #e10600;
}

h2 {
  padding-top: 20px;
  color: whitesmoke;
  font-size: 2vw;
  font-family: "Oswald", sans-serif;
  padding-left: 20px;
  text-decoration: underline #e10600;
}
footer {
  position: relative;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footer-text {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.432);
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 0px;
  font-family: -BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
}

.span-left {
  text-align: left;
  float: left;
  margin: 0px 1vw;
}
.back-to-top-link {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.back-to-top-link:visited {
  color: white;
  text-decoration: none;
}

.back-to-top-link:hover {
  color: #e10600;
}

/*////////////////////////////////*/
/*GALLERY*/

.flexbox-container {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexbox-item {
  display: inline-block;
  background: rgba(247, 247, 247, 0);
  max-width: 40%;
  margin: 30px;
  /*margin-bottom: 20px;*/
  color: white;
  font-weight: bold;
  font-size: 3em;
  /*text-align: center;*/
  padding: 0px;

  border-bottom-right-radius: 20px;
  overflow: hidden;

  transform-origin: 50% 65%;
  transition: transform 1s, filter 10s ease-in-out;
  filter: brightness(100%);
}

.related-news {
  max-width: 30%;
}

.flexbox-item-figure {
  border-right: 2px solid rgb(196, 196, 196);
  border-bottom: 2px solid rgb(196, 196, 196);
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.news-video {
  display: block;
  margin: auto;
  max-width: 100%;
  border-bottom-right-radius: 20px;
  border-right: 2px solid #e10600;
  border-bottom: 2px solid #e10600;
  margin-bottom: 40px;
}

.flexbox-item-figure:hover {
  border-right: 2px solid #e10600;
  border-bottom: 2px solid #e10600;
}

.flexbox-item-figure:hover > .figure-image {
  transform: scale(1.1);
  overflow: hidden;
}

.flexbox-item-figure:hover > .flexbox-image {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  width: 400px;
  height: 400px;

  transform-origin: 50% 50%;
  transition: transform 2s, filter 3s ease-in-out;
  filter: brightness(150%);
}

.flexbox-image:hover {
  transform: scale(1.5);
}

.headline-gallery {
  color: #000000;
  font-size: 2.4vw;
  text-shadow: 2px 2px #fff8f8;
}

/*////////////////////////////////////////////*/
/* RESPONSIVNESS */

@media screen and (max-width: 1024px) {
  li {
    font-size: 18px;
  }

  h2 {
    font-size: 26px;
  }

  .main-paragraph {
    font-size: 20px;
  }

  figcaption {
    font-size: 18px;
  }

  .main-headline {
    font-size: 28px;
  }

  .footer-text {
    font-size: 10px;
  }

  .back-to-top-link:link {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.432);
  }

  .header-div {
    height: 30vh;
  }

  #f1-logo {
    height: 2vh;
  }
}

/* RESPONSIVNESS */
/*////////////////////////////////////////////*/

#map {
  height: 600px;
  /* The height is 400 pixels */
  width: 70vw;
  /* The width is the width of the web page */
  display: flex;
  align-items: center;
  margin: auto;
  margin-bottom: 20px;
}

#track-info-div {
  /* The height is 400 pixels */
  width: 80vw;
  /* The width is the width of the web page */
  margin: auto;
  border: 2px solid #e10600;
}

#track-image {
  width: 60vw;
  margin: auto;
  display: block;
}

#track-layout {
  margin: auto;
  display: block;
  width: 45vw;
}

@media screen and (max-width: 700px) {
  .flexbox-item {
    max-width: 100%;
  }
}

@media screen and (max-width: 1560px) {
  .related-news {
    max-width: 20%;
  }
}

@media screen and (max-width: 1440px) {
  .related-news {
    max-width: 100%;
  }
}
